html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navbar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(235,243,244,1) 0%, rgba(0,212,255,1) 100%);
}
.card {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(235,243,244,1) 0%, rgba(0,212,255,1) 100%);
}
h1,h2,h3,h4,h5{
    padding: 20px;  

}
h2 {
    background: rgb(2,0,36);
   color:#ffff;
}
h3 {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(235,243,244,1) 0%, rgba(0,212,255,1) 100%);
}   
image{
    
}
.jazzy {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,49,51,1) 35%, rgba(0,212,255,1) 100%);
    color:#ffff;
 
}
.jazzy-content{
    align-content:center
}