@page
@model SoaCA1.Pages.ClientModel
@{
ViewData["Title"] = "Client";   
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Client</h1>
            <p>Welcome to our C# app, @Model.GetClientToken</p>
        </div>
    </div>  