@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div></div>
<div class="jazzy  container d-flex align-items-center justify-content-center"">

    <div class="jazzy-content">
    <h1 >Jazzy Assistant</h1>
<img src="images/jazz.jpg" alt="Sample Photo" />
    </div>
</div>
<h2 class="container d-flex align-items-center justify-content-center">If it rains get a drink. If you have a drink, read a book and play some Jaaaazzzz...</h2>
<div class="card-group">
    <div class="card">
        <img class="card-img-top w-100 d-block">
        <div class="card-body">
            <h4 class="card-title">Weather</h4>
            <img src="images/lake.jpg" alt="Sample Photo" />
<button class="btn btn-primary" type="button">Weather</button>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-100 d-block">
        <div class="card-body">
            <h4 class="card-title">Drink recipes</h4>
            <img src="images/cocktails.jpg" alt="Sample Photo" /><button class="btn btn-primary" type="button">Cocktails</button>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-100 d-block">
        <div class="card-body">
            <h4 class="card-title">Books suggestions</h4>
            <img  src="images/book.jpg" alt="Sample Photo" />
            <button class="btn btn-primary" type="button">Books</button>
        </div>
      
    </div>

    <div class="container">
           
        <p>Welcome to our C# app,  @Model.Name </p>
    </div>
</div>

