@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div></div>
<h1>Jazzy Assistant</h1>
<div class="card">
    <div class="card-header">
        <h5 class="mb-0">If it rains, get a drink. If you get a drink, read a book.</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Jazzy Assistant is getting you the weather forecast, cocktails recipes and book suggestions.</p>
    </div>
</div>
<div class="card-group">
    <div class="card">
        <img class="card-img-top w-100 d-block">
        <div class="card-body">
            <h4 class="card-title">Weather</h4>
            <img src="images/lake.jpg" alt="Sample Photo" />
<button class="btn btn-primary" type="button">Weather</button>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-100 d-block">
        <div class="card-body">
            <h4 class="card-title">Drink recipes</h4>
            <img src="images/cocktails.jpg" alt="Sample Photo" /><button class="btn btn-primary" type="button">Cocktails</button>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-100 d-block">
        <div class="card-body">
            <h4 class="card-title">Books suggestions</h4>
            <img  src="images/book.jpg" alt="Sample Photo" />
            <button class="btn btn-primary" type="button">Books</button>
        </div>
      
    </div>

    <div class="container">
           
        <p>Welcome to our C# app,  @Model.Name </p>
    </div>
</div>

